html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}
.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-table {
    margin-top: 25px;
    font-size: 12px;
}
.el-pagination {
    margin: 15px auto;
}
.el-steps {
    margin: 15px 0;
}
.el-step__title {
    font-size: 13px;
}

.quill-editor {
    min-height: 400px;
    border: solid 1px rgb(32, 30, 160);
}
